<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kosta.bean.Board" alias="Board"/><!-- 객체추가 -->
		<typeAlias type="kosta.bean.Member" alias="Member"/><!-- 객체추가 -->
		<typeAlias type="kosta.bean.Search" alias="Search"/><!-- 객체추가 -->
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
				<property name="username" value="kosta202"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="kosta/mapper/Board.xml"/><!-- 매퍼경로추가 -->
		<mapper resource="kosta/mapper/Member.xml"/><!-- 매퍼경로추가 -->
	</mappers>
	
</configuration>
